<div>
    <div class="leftSideMDiv">
        <div>
            <a>開課單位</a>
        </div>
        <div>
            <input placeholder="選擇「開課單位」" id="classDept">
        </div>
    </div>
    <div class="leftSideMDiv">
        <div>
            <p>檢視選項</p>
        </div>
        <div>
            <label id="commentLabel">
                <input type="checkbox">
                <span>僅顯示有心得之課程</span>
            </label>
        </div>
    </div>
    <div class="leftSideMDiv">
        <div id="wishListTitle">
            <p>願望清單（0）</p>
        </div>
        <div id="wishListContent">
            <p [style.display] = "checkWishListEmpty() ? '' : 'none'">尚未新增任何課程進入願望清單</p>
        </div>
        <div id=wishListButton>
            <img src='./arrange.svg'>
            <p>加入完成，開始安排課表</p>
        </div>
    </div>
</div>