<div class="classitem" data-id="course1">
    <div class="classitemLeft">
        <p class="classCategory">通</p>
    </div>
    <div class="classitemMid">
        <p class="className">A9-046 音樂舞蹈戲劇</p>
        <p class="teacherTime">通識中心  — 林怡薇 — [2]3~4 </p>
    </div>
    <div class="classitemRight">
        <div class="comment_num">
            <img src="./comment_num.svg">
            <p>0</p>
        </div>
        <div class="classHeart">
            <img src="./heart.svg" class="darkHeart" data-ref="course1">
            <img src="./heart_red.svg" class="redHeart" style="display: none;" data-ref="course1">
        </div>
    </div>
</div>
<div class="classitem" data-id="course2">
    <div class="classitemLeft">
        <p class="classCategory">通</p>
    </div>
    <div class="classitemMid">
        <p class="className">A9-047 音樂舞蹈戲劇</p>
        <p class="teacherTime">通識中心  — 林怡薇 — [2]5~6 </p>
    </div>
    <div class="classitemRight">
        <div class="comment_num">
            <img src="./comment_num.svg">
            <p>0</p>
        </div>
        <div class="classHeart">
            <img src="./heart.svg" class="darkHeart" data-ref="course2">
            <img src="./heart_red.svg" class="redHeart" style="display: none;" data-ref="course2">
        </div>
    </div>
</div>
<h2>test: {{courses}}</h2>